body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
.back a{
    color: #f9f9f9;
}

.back-button {
    color: #f9f9f9;   
}

  h1 {
    font-size: 32px;
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  p {
    line-height: 1.6;
  }
  
  .project {
    margin-bottom: 40px;
  }
  
  .project h3 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    .project {
      margin-bottom: 20px;
    }
  }
  
